body {
    padding: 0;
    margin: 0;
}

.body-event {
    background-color: #F4F7FF;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}




@media (max-width:991px) {

    /* media quary home */
    .navigasi {
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        height: unset;
        padding: 20px;
        gap: 10px;
        top: 0;
    }

    .navigasi>.main {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: auto;
    }

    .navigasi>.main>div:last-child {
        display: unset;
    }

    .navigasi .list-link {
        flex-direction: column;
        text-align: center;
    }

    .list-link li a {
        color: black;
        text-decoration: none;
    }

    .navigasi .nav-button {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .navigasi .nav-button button {
        width: 100% !important;
    }

    .contain {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .button-arrow-responsive {
        display: flex !important;
    }

    .date-grid {
        width: 100%;
        height: 75px;
        gap: 30px !important;
    }

    .event-list {
        width: 330px !important;
        height: auto;
        overflow: hidden;
    }

    .list-location {
        margin-top: 0px !important;
    }

    .row {
        text-align: -webkit-center;
        display: unset !important;
    }

    .item1 {
        display: none;
    }

    .item h2 {
        text-align: center !important;
        font-size: 20px !important
    }

    .contain2 {
        height: 650px !important;

    }

    .partner {
        text-align: center;
        font-family: Arial, sans-serif;
        margin: 0px !important;
    }

    .kategori {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 10px !important;
        width: auto !important;
    }

    #footer {
        display: grid !important;
        width: 100%;
    }

    .additional-contain2 {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .element1 {
        padding-left: 20px !important;
    }

    .grid-container {
        display: inline !important;
    }

    .list-contain {
        flex-wrap: wrap;
    }

    .grid {
        width: 100%;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* akhir media quary home */
    /* media quary profile */


}

/* navigasi */
#menu-button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-top: 0;
    background-image: url(../icon/menu.png);
}

.navigasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    background-color: white;
    width: auto;
    height: 90px;
    padding: 0 50px;

}

.navigasi>.main>div:last-child {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0px;
}

.navigasi .list-link {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: center;
}

.navigasi .profile {
    width: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}


.navigasi .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #3366FF;
}

.red {
    color: red;
    font-weight: bold;
    margin-bottom: 0px;
}

.blue {
    color: blue;
    font-weight: bold;
    margin-bottom: 0px;
}

/* sing-up page */
body.singup {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, blue 50%, white 50%);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #3366FF;
    background-image: url('../image/home1.png');
    background-size: cover;
    background-position: left;
}

.right {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
}



h1 {
    font-family: 'Poppins', bold;
    font-size: 30px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 50px;
}

.account {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 50px;
}

form {
    width: 100%;

}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.form-group .label {
    margin-top: 300px;
}

input[type="name"]::placeholder,
input[type="password"]::placeholder {
    opacity: 0.5;
}

input[type="name"],
input[type="password"] {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
}

input[type="Email"]::placeholder,
input[type="confrimPassword"]::placeholder {
    opacity: 0.5;
}

input[type="Email"],
input[type="confirmPassword"] {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
}

button {
    width: 75%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navigasi .nav-button button:first-child {
    border: none;
    background-color: transparent;
    color: black;
    width: 169px;
    height: 40px;
    border-radius: 10px;
    margin-top: auto;
    cursor: pointer;
}

.navigasi .nav-button button:last-child {
    border: none;
    background-color: #3366FF;
    width: 169px;
    height: 40px;
    border-radius: 10px;
    margin-top: auto;
    cursor: pointer;

}

button:hover {
    background-color: #27bace;
}

.right-button button {
    background-color: transparent;
    color: rgb(104, 104, 233);
    border: none;
    padding: 0;
    text-align: right;
    cursor: pointer;


}

.right-button button:hover {
    text-decoration: underline;
}

.center-button button {
    background-color: blue;
    border-radius: 20px;
    cursor: pointer;

}


.center-event {
    display: flex;
    gap: 0;
    margin-left: 120px;
    margin-top: 50px;
    margin-right: 100px;
    padding: 100px;
    background-color: white;
    height: 700px;
    width: 1000px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.left-elemnt {
    flex: 1;
    text-align: center;
}

.left-elemnt img {
    overflow: hidden;
    border-radius: 40px;
}

.left-elemnt i {
    margin-top: 50px;
    letter-spacing: 2px;
    font-family: 'Poppins', 'bold';
}

.right-element {
    flex: 1;
    margin-left: 100px;
}

.right-element h1 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0;
}

.icon {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
}

.att img {
    width: 90px;
    height: 30px;
    top: 436px;
    left: 684px;
    gap: 0px;
    opacity: 0px;
}

.att p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.5px;
    text-align: left;

}

h2 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;

}

.end {
    width: 500px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

.end img {
    width: 315px;
    height: 151px;
    top: 701px;
    left: 684px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
}

.end a {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none;
}

button {
    background-color: rgb(22, 68, 216);
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    margin-top: 50px;
    border: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0;

}

.element1 {
    grid-row: 1 / 7;
    margin-left: 50px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 100px;
    margin: 0;
}

#footer {
    display: flex;
    width: 100%;
    gap: 125px;
    justify-content: space-between;
    background-color: #F4F7FF;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-text-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.footer-text {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
    text-decoration: none;
}

.footer-text:hover {
    color: #000;
    text-decoration: underline;
}

.footer-text-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-text {
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    gap: 0px;
    opacity: 0px;
    color: rgb(111, 115, 119);
}

h3 {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;

}

h4 {
    width: 200px;
    height: 1px;
    top: 1199px;
    left: 575px;
    gap: 0px;
    opacity: 0px;
    color: #C1C5D0;
}

.image-people {
    background-image: url('../image/home1.png');
    width: 549.48px;
    height: 478.36px;
    gap: 0px;
    opacity: 0px;
}

.contain {
    display: flex;
    width: 100%;
    height: 750px;
    gap: 0px;
    opacity: 0px;
    justify-content: right;
    margin-bottom: 175px;
    background-color: #3366FF;
    background-image: url(../image/home.png);
}

.additional-contain {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.additional-contain .event .label {
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}

.additional-contain .event {
    margin-bottom: 50px;
}

label {
    display: block;
    border-radius: 10px;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1px;
    text-align: center;

}

.event button {
    color: red;
    background-color: pink;
    border: 1px solid #FF3D71;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 10px 0;
    width: 150px;
    height: 30px;

}

.event button:hover {
    background-color: lightpink;

}

.conten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-grid {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: auto;
    max-width: 800px;
    justify-content: center;
    color: #C1C5D0;
    margin-bottom: 50px;
}

.date-grid>div div:first-child {
    text-align: center;
    padding-bottom: 10px;
}

.date-grid .active {
    border: 1px solid #FF8900;
    color: #FF8900;
    border-radius: 12px;
    padding: 10px 10px 0 10px;
}

.date-grid .active::after {
    content: "\25CF";
    text-align: center;

}

.event-box {
    width: 260px;
    height: 376px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 3.17%, #101426 100%);
    background-blend-mode: multiply;


}

.event-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-box .event-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, transparent, black);
    color: white;
    gap: 24px;
    text-align: left;
}

.event-box .event-text div:first-child {
    font-size: 14px;
}

.event-box .event-text div:nth-child(2) {
    font-size: 22px;

}

.event-box .event-text .event-teks {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.event-box .event-text .people {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.event-box .event-text .people div {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid white;
}

.event-box .event-text .people div:not(:first-child) {
    margin-left: -10px;
}

.event-box .event-text .people div:last-child {
    position: relative;
}

.event-box .event-text .people div:last-child::after {
    width: 100%;
    height: 100%;
    background-color: #ff880093;
    content: '62+';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 2px 3px;


}

.people img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

/* .event-box .event-text .people div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.event-list {
    width: 1200px;
    position: relative;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.arrow {
    display: flex;
    height: 45px;
    margin: 50px 0 100px 0;
    justify-content: center;

}

.arr-left {
    background-color: rgb(255, 255, 255);
    background-image: url(../icon/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    margin-right: 50px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;

}

.arr-right {
    background-color: #3366FF;
    background-image: url(../icon/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    top: 1635px;
    left: 613px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.button-arrow-responsive {
    display: none;
}

.grid-container-discover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    background-image: url(../image/home.png);
    background-size: cover;
    border-radius: 50px;
    width: 1266px;
    height: 700px;
    margin-left: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.list-location {
    width: 1130px;
    height: 553px;
    top: 1929px;
    left: 118px;
    gap: 0px;
    opacity: 0px;
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 74px;
    margin-bottom: 73px;

}

.item1 {
    margin-top: 10px;
    width: calc(25% - 10px);
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 15px;
}

.item-responsive {
    margin-top: 10px;
    width: calc(25% - 10px);
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 15px;
}

.item-responsive img {
    width: 90%;
    height: auto;

}

.item1 img {
    width: 90%;
    height: auto;

}

.item-responsive .label {
    color: white;
    text-align: center;
    font-size: 15px;
    margin: auto;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.item1 .label {
    color: white;
    text-align: center;
    font-size: 15px;
    margin: auto;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.item h2 {
    color: white;
    margin: auto;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 1px;
    text-align: left;

}

.location {
    background-color: #FFFFFF40;
    border: 1px solid #007bff;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    width: 10vw;
    letter-spacing: 1px;
}

.grid .see-all {
    background-color: white;
    color: black;
    margin-left: 400px;
    margin-top: 50px;
    margin-right: 510px;
    margin-bottom: 73px;
}

.additional-contain2 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 175px;
}

.additional-contain2 .event2 .label {
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}

.additional-contain2 .event {
    margin-bottom: 50px;
}

label {
    display: block;
    border-radius: 10px;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1px;
    text-align: center;

}

.event2 button {
    color: red;
    background-color: pink;
    border: 1px solid #FF3D71;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 10px 0;
    width: 150px;
    height: 30px;
    border: 1px black;

}

.event2 button:hover {
    background-color: lightpink;

}

.kategori {
    display: flex;
    gap: 100px;
    margin: auto;
    max-width: 800px;
    justify-content: center;
    color: #C1C5D0;
    margin-bottom: 50px;
    width: 1005px;
    height: 39px;
    top: 2899px;
    left: 181px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    margin-top: 50px;

}

.arrow2 {
    display: flex;
    width: 140px;
    height: 45px;
    top: 1635px;
    left: 613px;
    gap: 0px;
    opacity: 0px;
    margin-top: 50px;
    justify-content: center;
    margin-left: 613px;
    margin-bottom: 175px;

}

.arr2-left {
    background-color: rgb(255, 255, 255);
    background-image: url(../icon/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    margin-right: 50px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;

}

.arr2-right {
    background-color: #3366FF;
    background-image: url(../icon/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    margin-left: 50px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.arr2-left-resp {
    background-color: #F4F7FF;
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    margin-left: 50px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.arr2-right-resp {
    background-color: #3366FF;
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    margin-left: 50px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.event-box2 {
    width: 260px;
    height: 376px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background-blend-mode: multiply;
    background-color: #007bff;



}

.image-film {
    height: 60%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden
}

.people2 {
    margin-bottom: 50%;
}

.event-box2 .people2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.event-box img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.event-box2 .event-text2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    box-sizing: border-box;
    color: white;
    gap: 24px;

}

.event-box2 .event-text2 div:first-child {
    font-size: 14px;
}

.event-box2 .event-text2 div:nth-child(2) {
    font-size: 22px;
    font-family: 'Poppins', 'bold';
}

.event-box2 .event-text2 .event-teks2 {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.event-box2 .event-text2 .people2 {
    display: flex;
}

.event-box2 .event-text2 .people2 div {
    height: 29px;
    width: 28px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.event-box2 .event-text2 .people2 div:not(:first-child) {
    margin-left: -10px;
}

.event-box2 .event-text2 .people2 div:last-child {
    position: relative;
}

.event-box2 .event-text2 .people2 div:last-child::after {
    width: 100%;
    height: 100%;
    background-color: #ff880093;
    content: '62+';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 2px 3px;


}

.event-box2 .event-text2 .people2 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-list2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 100%;
    overflow-x: scroll;

}

.contain2 {
    width: 100%;
    height: 450px;
    margin: 175px 0;
    background-color: #373A42;
    background-image: url(../image/home.png);
    background-repeat: no-repeat;
}

.partner {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 89px;
    margin-bottom: 89px;
    margin-left: 286px;
    margin-right: 285px;
}

.partner .event3 .label {
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}

.partner .event {
    margin-bottom: 50px;
}

.partner .event3 label {
    display: block;
    border-radius: 10px;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

.partner .event3 p {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #C1C5D0;
}

.event3 button {
    background-color: #afafb1;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 10px 0;
    width: 150px;
    height: 30px;
    margin-top: 89px;

}

.event3 button:hover {
    background-color: rgb(206, 199, 199);

}

/* booking page */
.center-event .left-booking img {
    width: 500px;
    height: 409.5px;
    gap: 0px;
    opacity: 0px;
}

.right-booking {
    width: 375px;
    height: 45px;
    top: 210px;
    left: 770px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;

}

.center-event2 {
    display: flex;
    gap: 0;
    margin-left: 120px;
    margin-top: 50px;
    margin-right: 120px;
    padding: 100px;
    background-color: white;
    height: 825px;
    width: 1000px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.right-judul {
    display: flex;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    gap: 0;
    margin-left: 6px;
}

.pertama {
    flex: 1;
    gap: 0;
    width: 231px;
    height: 30px;
    top: 218px;
    left: 770px;
    gap: 0px;
    opacity: 0px;

}

.kedua {
    flex: 1;
    width: 300px;
    margin: 15px 5px;
    display: flex;
    padding-left: 20px;

}

.text1 {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
    padding-left: 3px;
    margin-bottom: 20px;
    color: #FC1055;
    margin-left: 20px;
    margin-right: 13px;

}

.logo2 {
    background-color: #ffffff;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.logo3 {
    background-color: #F1EAFF;
    background-image: url(../image/logo1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.logo4 {
    background-color: #FFEAEF;
    background-image: url(../image/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.logo5 {
    background-color: #FFF4E7;
    background-image: url(../image/logo3.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.border {
    border-top-style: outset;
    margin-top: 25px;
}

.section {
    display: flex;
    width: 375px;
    height: 90.3px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
    margin-top: 50px;
    margin-right: 130px;
    margin-left: 0;

}

.text-section1 {
    display: flex;
    gap: 90px;
}

.text2 {
    width: 149px;
    height: 42px;
    gap: 0px;
    opacity: 0px;

}

.row1 {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;
}


.Seats {
    width: 108px;
    height: 18px;
    top: 331px;
    left: 830px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #C1C5D0;

}

.price {
    width: 50px;
    height: 20px;
    top: 308px;
    left: 1085px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.person {
    width: 70px;
    height: 18px;
    top: 330px;
    left: 1075px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #BDC0C4;

}

.quantity {
    width: 61px;
    height: 18.06px;
    top: 371.02px;
    left: 830px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 21px;
}

.button-tambahan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}

.increase-button1 {
    background-color: rgb(255, 255, 255);
    background-image: url(../icon/minus.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 30.1px;
    top: 365px;
    left: 1028px;
    gap: 0px;
    border-radius: 7px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 10px;
    opacity: 0px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 49px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;

}

.increase-button2 {
    background-color: rgb(255, 255, 255);
    background-image: url(../icon/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 30.1px;
    top: 365px;
    left: 1028px;
    gap: 0px;
    border-radius: 7px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 10px;
    opacity: 0px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 49px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.increase-button2-active {
    background-color: rgb(255, 255, 255);
    background-image: url(../icon/plus-active.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 30.1px;
    top: 365px;
    left: 1028px;
    gap: 0px;
    border-radius: 7px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 10px;
    opacity: 0px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 49px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
}

.tambahan {
    width: 8px;
    height: 18.06px;
    top: 371.02px;
    left: 1083px;
    gap: 0px;
    opacity: 0px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 49px;

}

.quantity1 {
    width: 66px;
    height: 21px;
    top: 761px;
    left: 770px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 15px;
}

.total-payment {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 15px;
}

.section-vip {
    height: 20px;
    top: 308px;
    left: 1085px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: #3366FF;
}

.total-quatity {
    width: 66px;
    height: 21px;
    top: 761px;
    left: 770px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.5px;
    margin-top: 15px;
    text-align: center;
    color: #3366FF;
}

.total-section {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 15px;
    color: #3366FF;
}

.text-ticket {
    display: flex;
    gap: 180px;
}

.arrow-event-by-category {
    position: absolute;
}

/* payment page */
.center-event2 div h1 {
    margin-left: 100px;
}

.card {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}

.button-card {
    border-radius: 90px;
}

.payment1 a {
    color: #007bff;
}

.card-payment {
    background-color: #884DFF33;
    background-image: url(../icon/payment1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    top: 1635px;
    left: 613px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
    margin-left: 15px;
}

.card-text {
    font-family: 'Poppins', bold;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
    padding-left: 3px;
    margin-bottom: 20px;
    color: #000000;
    margin-left: 20px;
}

.arr_top-card {
    background-image: url(../icon/arrow_top.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    top: 1635px;
    left: 613px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    margin-left: 162px;
}

.payment-card {
    display: flex;
    margin-top: 15px;
    margin-left: 130px;
}

.plus {
    background-color: #fbf9fd;
    background-image: url(../icon/plus-payment.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
    margin-left: 15px;
    border-style: dashed;
    color: #3366FF;
    justify-content: center;
}

.bank-payment {
    background-color: #884DFF33;
    background-image: url(../icon/payment3.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    top: 1635px;
    left: 613px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
    margin-left: 15px;
}

.retail-payment {
    background-color: #884DFF33;
    background-image: url(../icon/payment4.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    top: 1635px;
    left: 613px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
    margin-left: 15px;
}

.e-money-payment {
    background-color: #884DFF33;
    background-image: url(../icon/payment5.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    top: 1635px;
    left: 613px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
    margin-left: 15px;
}

.arr_bottom-card {
    background-image: url(../icon/arrow-bottom.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    top: 1635px;
    left: 613px;
    gap: 1105px;
    border-radius: 10px;
    opacity: 0px;
    margin-left: 162px;
}

.right-payment {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 88px;
    border-color: #BDC0C4;
    border-left: 1px solid #C1C5D040;

}

.detail-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
}

.text-row1 {
    display: flex;
    gap: 121px;
    font-size: 14px;
}

.text-row1 div:first-child {
    font-family: 'Poppins', 'bold';
}

.text-row1 div:last-child {
    font-family: 'Poppins', 'bold';
    color: #007bff;
}

.text-row2 {
    display: flex;
    gap: 233px;
    font-size: 14px;
}

.text-row2 div:first-child {
    font-family: 'Poppins', 'bold';
}

.text-row2 div:last-child {
    font-family: 'Poppins', 'bold';
    color: #007bff;
}

.text-row3 {
    display: flex;
    gap: 288px;
    font-size: 14px;
}

.text-row3 div:first-child {
    font-family: 'Poppins', 'bold';
}

.text-row3 div:last-child {
    font-family: 'Poppins', 'bold';
    color: #007bff;
}

.text-row4 {
    display: flex;
    gap: 226px;
    font-size: 14px;
}

.text-row4 div:first-child {
    font-family: 'Poppins', 'bold';
}

.text-row4 div:last-child {
    font-family: 'Poppins', 'bold';
    color: #007bff;
}

.payment-button {
    margin-left: 50px;
}

/* profile page */
.content3 {
    width: auto;
    height: 826px;
    display: flex;
    margin-bottom: 300px;
    flex-direction: row;
    gap: 58px;
    align-items: center;
    padding: 0 70px;
    position: relative;
}

.sidebar {
    width: 300px;
    height: 100%;
    color: black;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar .sidebar-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sidebar .sidebar-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #3366FF;
}


.content3 nav ul {
    padding-left: 10px;
}

.content3 nav ul li {
    list-style: none;
    padding: 20px 0;
    color: black;
    font-weight: 600;
}

.content3 nav ul li a {
    text-decoration: none;
}

.inside-list ul {
    margin: 30px 0 0 30px;
    padding-left: 10px;
}

.inside-list ul li {
    list-style: none;
    padding: 10px 0;
    color: black;
}

.inside-list ul li.card {
    display: flex;
    align-items: center;
    gap: 0px;
    position: relative;
    margin-left: 0;
    margin-top: 30px;
}

.inside-list ul li.card::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: #000;
}

.content3 .line-border {
    width: 1px;
    height: 50vh;
    background-color: #000;
    border: 1px solid #000;
}

.card-profile {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 200px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
    gap: 0;
    padding: 46px 50px;
}

.container-profile {
    display: flex;
    width: 100%;
}

.left-profile {
    width: 468px;
    height: auto;
}

.left-profile h1 {
    font-family: 'Poppins', 'bold';
    font-size: 20px;
    margin: 46px 0 50px 50px;
}

.identity {
    display: flex;
    margin: 46px 0 50px 50px;
    gap: 50%;
    width: 262px;
}

.identity-filling {
    size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
}

input[type="name-identity"] {
    width: 50%px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
}

.Username-identity {
    display: flex;
    gap: 15px;
    font-family: 'Poppins';
    color: #777777;
}

.Email-identity {
    display: flex;
    gap: 15px;
    font-family: 'Poppins';
    color: #777777;
}

.Phone-identity {
    display: flex;
    gap: 15px;
    font-family: 'Poppins';
    color: #777777;
}

.identity1 {
    display: flex;
    margin: 46px 0 50px 50px;
    gap: 70px;
    width: 307px;
}

.male-female {
    display: flex;
    color: #777777;
    gap: 10px;
    font-family: "Poppins";
    font-size: 14px;
}

.male-round-active a {
    color: #007bff;
}

.male-round a {
    color: #777777;
}

.gender {
    display: flex;
    gap: 20px;
    width: 262px;
}

input[type="identity-profession"] {
    width: 60%px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
    background-image: url(../icon/arrow-bottom.png);
    background-repeat: no-repeat;
    background-position: right;
}

input[type="identity-nationality"] {
    width: 60%px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
    background-image: url(../icon/arrow-bottom.png);
    background-repeat: no-repeat;
    background-position: right;
}

.identity2 {
    display: flex;
    margin: 46px 0 33px 50px;
    gap: 50%;
    width: 262px;
}

.identity3 {
    display: flex;
    margin: 0 0 16px 50px;
    gap: 50%;
    width: 262px;
}

.identity4 {
    display: flex;
    margin: 0 0 33px 50px;
    gap: 50%;
    width: 262px;
}

.identity5 {
    display: flex;
    margin: 0 0 50px 50px;
    gap: 50%;
    width: 262px;
}

.profile3 {
    border-left-style: solid;
    border-color: #C1C5D040;
    margin-top: 125px;
}

button.profile2 {
    background-image: url(../image/sidebar9.png);
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 0;
    height: 145px;
    width: 200px;
    margin-left: 109px;
}

.Choose-photo {
    font-family: "Poppins";
    font-size: 14px;
    text-align: center;
}

.Choose-photo button {
    margin: 50px 53px 25px 50px;
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
}
.all-footer{
    background-color: #F4F7FF;
}
/* my-booking */
.sidebar2 {
    width: 300px;
    height: auto;
    color: black;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar2 .sidebar-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sidebar2 .sidebar-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #3366FF;
}

.card-my-booking {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 0px #1A3C4414;
    gap: 0;
    padding: 33px 50px;
}

.container-my-booking {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.left-my-booking {
    width: 468px;
    height: auto;
}

.right-my-booking button {
    background-color: #EAF1FF;
    color: #3366FF;
    width: 125px;
    height: 50px;
}
.no-ticket{
    Width:315px;
    Height:113px;
    text-align: center;
    margin: 186px 305px 268px 305px;
}
.no-ticket h2 {
    font-family: "Poppins", "bold";
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
}
.no-ticket p{
    color: #B3B8B8;
    font-family: "Poppins", "bold";
    font-weight: 500;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
}